﻿@using System.Globalization;
@using PLSQLService;
@{
    ViewData["Title"] = "Pracownicy";
}
@model List<Pracownik>

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>ID_PRAC</th>
            <th>NAZWISKO</th>
            <th>ETAT</th>
            <th>ID_SZEFA</th>
            <th>ZATRUDNIONY</th>
            <th>PLACA_POD</th>
            <th>PLACA_DOD</th>
            <th>ID_ZESP</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in ViewBag.EmpList)
        {
            <tr>
                <td>@employee.ID_PRAC</td>
                <td>@employee.NAZWISKO</td>
                <td>@employee.ETAT</td>
                <td>@employee.ID_SZEFA</td>
                <td>@employee.ZATRUDNIONY</td>
                <td>@employee.PLACA_POD</td>
                <td>@employee.PLACA_DOD</td>
                <td>@employee.ID_ZESP</td>
            </tr>
        }
    </tbody>
</table>


<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>NAZWISKO</th>
            <th>Etat</th>
            <th>Minimanle wynagrodzenie</th>
            <th>Maksymalne wynagrodzenie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EmployeeJobInfo EmpInfo in ViewBag.EmpsJobInfo)
        {
            <tr>
                <td>@EmpInfo.NAZWISKO</td>
                <td>@EmpInfo.ETAT</td>
                <td>@EmpInfo.MIN</td>
                <td>@EmpInfo.MAX</td>
            </tr>
        }
    </tbody>
</table>


<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Departament</th>
            <th>Etat</th>
            <th>Liczba pracowników</th>
        </tr>
    </thead>
    <tbody>
        @foreach (JobsRaportRow jobRow in ViewBag.JobsRaport)
        {
            <tr>
                <td>@jobRow.TEAM</td>
                <td>@jobRow.JOB</td>
                <td>@jobRow.JOB_COUNT</td>
            </tr>
        }
    </tbody>
</table>