﻿@{
    ViewData["Title"] = "About Me";
}


<div class="container mt-5 bg-black text-light">
    <h1>Franciszek Korzeniewski</h1>


    <p>With nearly two years of experience, I have cultivated a strong foundation in
    designing, implementing, and maintaining applications tailored to meet diverse client
    needs. Throughout this period, I have not only honed my technical skills in application
    development but also gained invaluable insights into internal workflow organization.
    Programming is not just my profession, it's my passion. I am driven by the desire to
    continue expanding my expertise as a developer while also aspiring to take on
    leadership roles, guiding and managing teams to success. continue expanding my
    expertise as a developer while also aspiring to take on leadership roles, guiding and
    managing teams to success.</p>
</div>

