﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="container bg-black text-light">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card bg-black text-light border border-light">
                <div class="card-body text-center">
                    <h2 class="card-title">Password Encryption</h2>
                    <img src="~/images/encryption.png" class="img-fluid mb-2" alt="Image" style="width: 100px; height: auto;" />


                    <form method="post" action="@Url.Action("EncryptPasswd", "Home")">
                        <div class="form-group">
                            <label for="password" class="sr-only">Password:</label>
                            <input type="text" required class="form-control bg-black text-light" id="toEncrpt" name="toEncrpt" placeholder="Enter your password">
                        </div>
                        <div class="form-group">
                            <label for="encryptedPassword" class="text-light">Encrypted Password:</label>
                            <textarea type="text" class="form-control bg-black text-light" id="encryptedPassword" readonly>@ViewBag.ToEncrpt</textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">Encrypt</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

