﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Chinchilla Shelter MANAGER</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MSSQLPage.styles.css" asp-append-version="true" />
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
        <img src="img/logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Szynszyli Oaza</a>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>
